body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid-container{
    background-color: #333;
    display: grid;
    gap: 5px;
    color: white;
    grid-template-areas: 
        'header header header'
        'content content content'
        'footer footer footer';
}



div #header{
    grid-area: header;
    background-image: url('../images/imgs-header/sudeste.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#content{
    grid-area: content;
    height: 100vh;
    margin: 20px;
}

#content .slides{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    grid-area: footer;
    background-color: rgb(4, 51, 91);
}