body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  gap: 5px;
  color: white;
  grid-template-areas:
    "header"
    "sidebar"
    "content";
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header header"
      "sidebar content";
    grid-template-columns: 1fr 2fr;
  }
}

#headerSE {
  grid-area: header;
  background-image: url('../images/imgs-header/SE.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100%;
  max-width: 700px;     /* aumenta para desktops */
  height: auto;
  margin-top: 20px;
}

@media (max-width: 480px) {
  #logo {
    width: 90vw;          /* ocupa 90% da largura da tela */
    max-width: none;      /* sem limite superior */
    min-width: 280px;     /* aumenta o mínimo pra não ficar pequena */
    margin-top: 10px;
  }
}

#sidebar {
  grid-area: sidebar;
  background-color: #142c4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.itens-sidebar {
  width: 100%;
  max-width: 600px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

/* Aumenta o tamanho da fonte em telas grandes */
@media (min-width: 1024px) {
  .itens-sidebar {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

.itens-sidebar h2,
.itens-sidebar p {
  margin: 15px;
}

#content {
  grid-area: content;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  max-width: 900px;
  height: auto;
  aspect-ratio: 3 / 1;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery img:hover {
  transform: scale(1.05);
}
