body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid-container{
    background-color: #333;
    display: grid;
    gap: 5px;
    color: white;
    grid-template-areas: 
        'header header header header'
        'sidebar content content content';
}

div #header{
    grid-area: header;
    background-image: url('../images/imgs-header/SE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;               /* Flexbox no header */
    justify-content: center;     /* Centraliza horizontalmente */
    align-items: center; 
}
#logo{
    width: 1000px;
    height: auto;
    margin-top: 20px;
}

#sidebar{
    grid-area: sidebar;
    height: 100vh;
    background-color: #142c4c;
    display: flex;              /* Ativa o flexbox */
    flex-direction: column;     /* Alinha em coluna (um embaixo do outro) */
    justify-content: flex-start;    /* Centraliza na vertical */
    align-items: center; 
    height: 100%;
    padding: 30px;
}
.itens-sidebar {
    width: 600px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itens-sidebar h2,p{
    margin: 15PX;
}

#content{
    grid-area: content;
    height: 100%;
}

/*.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(680px, 1fr));
    gap: 20px;
    padding: 20px;
}
*/
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

.gallery img {
    width: 900px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.gallery img:hover {
    transform: scale(1.05);
}
